.container{

    width: 100%;
    height:100vh;
    background:#ffe3e3;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.container img{
    width:75%;
    margin: 700px;

}

.container h1{
    position: absolute;
    top:35%;
    left:38%;
    transform:translate(-50% -50%);
    color:#fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
}
.quotes{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.quotes h2{
    font-size: 45px;
    margin-top: 10px;
    font-weight: 500;
}



